body{
  background-color: chartreuse;
}
 h1, h2, h3, h4 {
          color: coral;
          font-size: 50px;
          background-color: palevioletred;
      }
         h1{
          color: aquamarine;
         }

         .uppercase{
            text-transform: uppercase;
            color: deeppink;
            background-color: black;
          }

         .important{
          color: orchid;
         }

          #theOne{
            color: aliceblue;
          }
           #mrJhones{
            color: hotpink; 
          }